.container{
    margin: 0 auto;
    background: #fff;
    max-width: 1280px;

}

.logo{
    padding-right: 949px;
    font-family: Roboto;
    position:absolute;
    font-style: normal;
    font-size: 80px;
    width:334px;
    height:79px;
    text-decoration: none;
}

.blue{
    color: deepskyblue;
    text-decoration: none;
}

.black{
    color: black;
    text-decoration: none;
}

header>nav{
    width: 1280px;
    display:flex;
    justify-content:center;

}

nav{
    padding-top:100px;

}

.site-nav{
    display:flex;
    justify-content: center;
    list-style: none;
    font-size: 24px;

}

.site-nav > li > a{
    display:flex;
    justify-content: center;
    background:#35444F;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 62px;
    height: 72px;
    width:280px;
    text-align: center;
    max-width: 100%;
    padding-left: 28px;
    padding-right: 20px;
    position: center;

}

.site-nav > li {
    border:1px solid;
    color: white;

}

.menu-link:hover{
    background-color:#222F3A;

}

.aside{
    display: flex;
    flex-direction:column;
    padding-right:52px;
}

.nav{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    height: 399px;
    width: 344px;
    padding-top: 25px;
    border: 1px solid ;


}

.menu-aside{

    display: block;
    text-align: center;
    line-height:74px;
    height: 81px;
    width: 342px;
    text-decoration: none;
    color: #495863;
    font-style:normal ;
    font-size: 27px;
    font-family: Roboto;
}

.menu-aside:hover{
    background-color: #DBDBDB;;
}


.main{
    display:flex;
    justify-content: flex-end;

}




.main>.block{
    display:flex;
    justify-content: flex-end;
    position: absolute;
    border:1px solid;
    color: black;
    height: 529px;
    width: 885px;
}


.block{
    margin-top: -426px;

}

.img{
    display:flex;
    justify-content:center;
    position: absolute;
    width: 320px;
    height:381px;
    left: 297px;
   padding-top: 75px;

}

.box{
    display:flex;
    flex-direction: column;
    font-family: Roboto;
    font-weight :400;
    font-style: normal;
    font-size: 18px;
    line-height:24px;
    color: #2C2C2C;





}


.box-1{
    width: 885px;
    height: 120px;
    padding-top:120px;
}

.box-2{

    width: 885px;
    height: 109px;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.container{
    flex: 1 0 auto;
}


footer{
    flex-shrink: 0;

}

.menu-footer{
    height: 79px;
    width: 1280px;
    background: rgba(99, 105, 110, 0.48);

}

.menu-f{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 77px;
    text-decoration: none;
    color: #0C1927;
    width: 928px;
    padding: .5em .7em;
    text-align: center;


}

.right{
    display: flex;
    align-self: flex-end;
    margin: -54px  20px;
}
.menu-r{
    font-family:Roboto;
    font-weight:400 ;
    font-style: normal;
    font-size:24px;
    margin-left:auto;
    text-decoration: none;
    color: #0C1927;


}


.menu-f:hover{
    border-bottom: 1px solid;
    color: #3181A6;

}
.menu-r


